body{
    position: relative;
    margin: 40px;
    padding-bottom: 10px;
    border: solid 1px grey;
    min-height: 400px;
    font-family: 'Times New Roman', Times, serif;
}

input {
    font-family: monospace;
    border: none;
    border-bottom: 1px solid grey;
    margin: 5px;
}
button {
    border: none;
    border-bottom: 1px solid grey;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.quote-input{
    font-size: 20px;
    font-weight: lighter;
    text-decoration: underline grey;
    width: 100%;
    min-height: 100px;
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 5px;
}
.input-detail{
    margin-left: 20vh;
}
.input-personal {

    margin-left: 20vh;
}

ul {
    list-style: none;
    font-size: 20px;
}

.quotes-list{
    border: 1px solid;
    margin-top: 50px;
    margin-left: 20px;
    padding: 10px;
    width: 75%;
}

.quote-content{
    color: black;
    font-size: 15px;
    font-weight: lighter;
    font-family: monospace;
    text-decoration: underline grey;
}

.quote-origin{
    color: grey;
    font-family: serif;
    margin-left: 20vh;
    margin-top: 3px;
}
#quote-author{
    margin-bottom: 0px;
}
.quote-edit {
    font-size: 15px;
    font-weight: lighter;
    font-family: monospace;
    border: 1px solid;
    padding: 15px;
}

#user-description{
    width: 400px;
}

footer{
    position: absolute;
    right: 10px;
    bottom: -40px;
}

.link {
    color: grey;    
}
.navigation :hover{
    color: grey;
    font-weight: bolder;
}